<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.text_area :visibility, id: :post_visibility %>
  </div>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.datetime_select :published_date, id: :post_published_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status, id: :post_status %>
  </div>

  <div class="field">
    <%= form.label :importance %>
    <%= form.check_box :importance, id: :post_importance %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :post_rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
